.icons-sprite, .icons-facebook, .facebook, .icons-twitter, .twitter, .icons-youtube, .youtube {
  background: url('../images/icons-s5c14ab1216.png') no-repeat; }

.icons-facebook, .facebook {
  background-position: 0 0; }
  .icons-facebook:hover, .facebook:hover, .icons-facebook.facebook_hover, .facebook_hover.facebook, .icons-facebook.facebook-hover, .facebook-hover.facebook {
    background-position: -114px 0; }

.icons-twitter, .twitter {
  background-position: -228px 0; }
  .icons-twitter:hover, .twitter:hover, .icons-twitter.twitter_hover, .twitter_hover.twitter, .icons-twitter.twitter-hover, .twitter-hover.twitter {
    background-position: -342px 0; }

.icons-youtube, .youtube {
  background-position: -456px 0; }
  .icons-youtube:hover, .youtube:hover, .icons-youtube.youtube_hover, .youtube_hover.youtube, .icons-youtube.youtube-hover, .youtube-hover.youtube {
    background-position: -570px 0; }

.icon, .facebook, .twitter, .youtube {
  display: inline-table;
  cursor: pointer; }

.facebook {
  width: 64px;
  height: 64px; }

.twitter {
  width: 64px;
  height: 64px; }

.youtube {
  width: 64px;
  height: 64px; }
